

[Unit]
Description=cmd_vel processor
Requires=movement_control.service radiolink.service
After=movement_control.service radiolink.service
Requires=roscore.service
After=roscore.service

[Service]
ExecStart=/opt/voltbro/ros/scripts/command_processor.sh
Type=simple
TimeoutSec=20
Restart=on-failure
RestartSec=5
StartLimitInterval=50
StartLimitBurst=3


[Install]
RequiredBy=ros.target

