

[Unit]
Description=cmd_vel processor
Requires=cyphal_bridge.service redis-server.service
After=cyphal_bridge.service redis-server.service
Requires=roscore.service
After=roscore.service

[Service]
ExecStart=/opt/voltbro/ros/scripts/command_processor.sh
Type=simple
TimeoutSec=20
Restart=on-failure
RestartSec=5
StartLimitInterval=50
StartLimitBurst=3


[Install]
RequiredBy=ros.target
RequiredBy=radiolink.service
