

[Unit]
Description=ROS Joystick driver
PathExists=/dev/input/js0
Requires=roscore.service
After=roscore.service

[Service]
ExecStart=/opt/voltbro/ros/scripts/joy_node.sh
User=root
Type=simple
TimeoutSec=20
Restart=on-failure
RestartSec=5
StartLimitInterval=50
StartLimitBurst=3


[Install]
RequiredBy=ros.target
