

[Unit]
Description=Roscore service
Requires=board.service
After=board.service

[Service]
ExecStart=/opt/voltbro/ros/scripts/roscore.sh
Type=simple
TimeoutSec=20
Restart=on-failure
RestartSec=5
StartLimitInterval=50
StartLimitBurst=3


[Install]
RequiredBy=ros.target
RequiredBy=imu.service
RequiredBy=cyphal_bridge.service
RequiredBy=radiolink.service
RequiredBy=joy_node.service
RequiredBy=command_processor.service
