[Unit]
Description=VCAN configuration service
Requires=network.target
After=network.target
After=systemd-user-sessions.service

[Service]
Type=oneshot
ExecStart=/opt/voltbro/eth_can/start_vcan.sh
TimeoutSec=20
Restart=on-failure
RestartSec=10
StartLimitInterval=50
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
