[Unit]
Description=ROS target
Requires=roscore.service
Requires=imu.service
Requires=movement_control.service
Requires=radiolink.service
Requires=joy_node.service
Requires=command_processor.service

[Install]
WantedBy=multi-user.target
